<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.okuejina.alfred.code</string>
	<key>connections</key>
	<dict>
		<key>23D5876B-A9C1-4310-A721-50F42A53B1A4</key>
		<array/>
		<key>871A5B4B-7129-4334-99C2-5AF53ED17F9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CAD6AEB0-4C5F-4FD1-8D80-C91CDD387400</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CAD6AEB0-4C5F-4FD1-8D80-C91CDD387400</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7F576DF-67BE-43F5-B870-ECB9544F3088</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D7CD6FF2-DF72-48A9-8E1B-2F288B03460A</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open project in a new terminal window</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D9B1AFDA-BD65-4AEC-A7C1-763988F782AF</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C66D545D-F293-489E-B99C-C4A6FDC0DED5</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>Open project in finder</string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>23D5876B-A9C1-4310-A721-50F42A53B1A4</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>Ignore this project</string>
			</dict>
		</array>
		<key>D7F576DF-67BE-43F5-B870-ECB9544F3088</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Pontus Carlsson &lt;jonet@okuejina.net&gt;</string>
	<key>description</key>
	<string>Lists projects from common IDE's</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./code.py --open "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D7F576DF-67BE-43F5-B870-ECB9544F3088</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>10</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>§</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>871A5B4B-7129-4334-99C2-5AF53ED17F9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>code</string>
				<key>runningsubtext</key>
				<string>Hunting for projects</string>
				<key>script</key>
				<string>./code.py --query "{query}"</string>
				<key>subtext</key>
				<string>List recent projects</string>
				<key>title</key>
				<string>Code</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CAD6AEB0-4C5F-4FD1-8D80-C91CDD387400</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd "$(echo {query} | cut -d' ' -f2-)" &amp;&amp; clear</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>D7CD6FF2-DF72-48A9-8E1B-2F288B03460A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "iTerm" to activate
	tell application "System Events"
    		keystroke "§" using command down
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D9B1AFDA-BD65-4AEC-A7C1-763988F782AF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open -R "$(echo {query} | cut -d' ' -f2-)"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C66D545D-F293-489E-B99C-C4A6FDC0DED5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./code.py --ignore "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>23D5876B-A9C1-4310-A721-50F42A53B1A4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>23D5876B-A9C1-4310-A721-50F42A53B1A4</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>871A5B4B-7129-4334-99C2-5AF53ED17F9D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C66D545D-F293-489E-B99C-C4A6FDC0DED5</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>CAD6AEB0-4C5F-4FD1-8D80-C91CDD387400</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D7CD6FF2-DF72-48A9-8E1B-2F288B03460A</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>D7F576DF-67BE-43F5-B870-ECB9544F3088</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D9B1AFDA-BD65-4AEC-A7C1-763988F782AF</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.okuejina.net</string>
</dict>
</plist>
